/*CUSTOM CSS FOR WEEK 4*/
.jumbotron{
	background: linear-gradient(#cc0000, #00004d, #4d1933);
	border: 2px solid black;
}
.jumbotron p{
	color: #ffffff;
	font-weight: bold;
}

.jumbotron h1{
	color: #ffffff;
	font-weight: bold;
	border: 2px solid black;
}

li .active a {
	color: black;
}



